<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <aside class="sidebar" th:fragment="sidebar(activePage)">
            <div class="brand">
                <img th:src="@{/images/LogoEasyTraza.PNG}" alt="Logo EasyTraza" class="logo">
                <div class="brand-text">
                    <h2>EasyTraza</h2>
                    <p>Traçabilitat</p>
                </div>
            </div>

            <nav class="menu">
                <a href="#" class="menu-item">Panell</a>
                <a href="#" class="menu-item">Clients</a>
                <a th:href="@{/proveidors}" th:class="'menu-item' + (${activePage} == 'proveidors' ? ' active' : '')">Proveïdors</a>
                <a th:href="@{/cataleg}" th:class="'menu-item' + (${activePage} == 'cataleg' ? ' active' : '')">Catàleg</a>
                <a th:href="@{/albarans-proveidor}"
                   th:class="'menu-item' + (${activePage} == 'albarans-proveidor' ? ' active' : '')">
                    Albarans proveïdor
                </a>
                <a href="#" class="menu-item">Lots Proveïdor</a>
                <a href="#" class="menu-item">Albarà Client</a>
                <a href="#" class="menu-item">Traçabilitat</a>
                <a href="#" class="menu-item">Controls</a>
                <a href="#" class="menu-item">Informes</a>
                <a th:href="@{/usuaris}" th:class="'menu-item' + (${activePage} == 'usuaris' ? ' active' : '')">Usuaris</a>
            </nav>

            <div class="sidebar-footer">
                <div class="lang-switch">
                    <span>ES</span>
                    <span class="active-lang">CA</span>
                </div>

                <div class="user-box">
                    <div class="avatar"></div>
                    <div>
                        <strong>Marco</strong>
                        <p>Maestro Panadero</p>
                    </div>
                </div>

                <button class="logout-btn">Tancar sessió</button>
            </div>
        </aside>
    </body>
</html>